.branch {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 10px;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 5px;
}